/*  your css code here. If applicable */
*{
	margin:0;
}
img{
	display: block;
  margin-left: auto;
  margin-right: auto;
}
#ai{
	text-align:center;
}
hr{
	width:350px;
}

.book-library{
	background-color:#f8f8f8;
	width:350px;
}
.book{
	background-color:#ffffff;
}
.price_background{
	background-color:rgb(46, 204, 113);
	text-align:center;
	border-radius:10px;
	
}
.color_author{
	background-color:rgb(119, 119, 119);
}